.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px 20px;
    margin-top: 54px;
}
.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_video {
    height: 310px;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}
.infor {
    position: absolute;
    z-index: 100;
    bottom: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.fullname {
    font-size: 1.8rem;
    color: white;
    font-weight: 600;
    line-height: 24px;
}
.nickname {
    font-size: 1.4rem;
    color: white;
    line-height: 20px;
}
